#MOD_REWRITE
<ifmodule mod_rewrite.c> 
RewriteEngine On
RewriteCond %{REQUEST_URI} (\.(css|js|thumb|ava))$ [NC]
RewriteRule ^(.*.css)$ theme-engine.php?type=css&files=$1
RewriteRule ^(.*.js)$ theme-engine.php?type=javascript&files=$1
RewriteRule ^(.*.e64)$ theme-engine.php?type=e64&files=$1
RewriteRule ^(.*.d64)$ theme-engine.php?type=d64&files=$1
RewriteRule ^(.*.thumb)$ theme-engine.php?type=thumb&files=$1
RewriteRule ^(.*.webfont)$ theme-engine.php?type=webfont&files=$1
RewriteRule ^(.*.curie)$ theme-engine.php?type=curie&uri=$1
RewriteRule ^(.*.ava)$ theme-engine.php?type=ava&uri=$1
</ifmodule>

# Disabled Index
Options All -Indexes

# Charset ETAG
#AddDefaultCharset utf-8
#ServerSignature Off
#FileETag MTime Size

#DefaultLanguage en-US
#SetEnv TZ Europe/London

<ifmodule mod_expires.c>
  <filesmatch "\.(jpg|gif|png|css|js|webfont)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </filesmatch>
</ifmodule>