/**
 * $Id: ie-8.css 76 2008-11-13 08:27:00Z chaoskaizer $
 * MSIE 8 Stylesheet
 */
 
.hentry .postmeta-date{width:30px;}
.hentry .Person .ava{width:30px}
.postmeta-comments .comments-link{clear:both}

/* pagination */
.entry-nextpage a, .pagination a, .pagination span, .postmeta-pages a{padding-bottom:1px}

/* comments */
#respond-textarea textarea{overflow:auto;background-position:82px 118px;background-attachment: fixed;padding-top:4px}